package com.cinemaprime.backend.config.security;

public class SecurityConstants {
    private static final String apiKey = "";
    private static final String secretKey = "";
    private static final String mongoURI = "";

    public static String getApiKey() {
        return apiKey;
    }

    public static String getSecretKey() {
        return secretKey;
    }

    public static String getMongoURI() {
        return mongoURI;
    }
}